{% extends 'devadmin/base.html' %}
{% load static %}
{% block title %}Admin{% endblock title %}

{% block main-content %}

<div class="row">
        <style>td{padding:20px;} </style>
        <h2 class="m-4"> Add Sub-Product </h2>
        
        <form method ="post" enctype="multipart/form-data">
            {% csrf_token %}

    <table>

        <tr>
            <td><label for="">Select Type of Product: </label></td>
            <td> 
                <select class="form-control" name="typeofproduct" required>  
                    {% for i in product %}
                        <option value = "{{i.title}}" >{{ i.title| capfirst}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        
        <tr>
            <td><label>Title of the Sub-Product:</label></td>
            <td><input class="form-control" type="text" name="subtitle" placeholder="Enter title" required></td>
        </tr>

        <tr>
            <td><label>Brief Description of Sub product:</label></td>
            <td><input class="form-control" type="text" name="subtitle2" placeholder="Enter sub title" required></td>
        </tr>

        <tr>
            <td><label>Add Price of the Sub-Product:</label></td>
            <td><input class="form-control" type="number" name="selling_price" placeholder="Enter Price" required></td>
        </tr>

        <tr>
            <td><label>Total Stock:</label></td>
            <td><input class="form-control" type="number" name="Total" placeholder="Enter Total Stock:" required></td>
        </tr>

        <tr>
            <td><label>Minimum Order:</label></td>
            <td><input class="form-control" type="number" name="Minemum" placeholder="Enter Total Stock:" required></td>
        </tr>

        <tr>
            <td><label>Duration of Product:</label></td>
        </tr>
        <tr>
            <td><label>Year</label></td>
            <td><input class="form-control" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="duration_year" placeholder="Enter Years" required></td>
        </tr>
        <tr>
            <td><label>Month</label></td>
            <td><input class="form-control" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="duration_month" placeholder="Enter Month" required></td>
        </tr>

        <tr>
            <td><label>Benefits: </label></td>
            <td><textarea class="form-control" name="benifits" rows="4" cols="50" placeholder="Please Enter in key:value pair... Ex. Mode allowed: Yearly" required></textarea></td>
        </tr>

        <tr>
            <td><label>Plan Features: </label></td>
            <td><textarea class="form-control" name="planfeatures" rows="4" cols="50" placeholder="Please Enter in key:value pair... Ex. Mode allowed: Yearly" required></textarea></td>
        </tr>

        <tr>
            <td><label>Sub-Product Image:</label></td>
            <td><input class="form-control" type="file" name="productpic" required/></td>
        </tr>

        <tr><td><input class="form-control btn btn-success" type="submit" value="Submit"></td></tr>
    </table>

    </form>
</div>

{% endblock main-content %}