{% extends 'devadmin/base.html' %}
{% load static %}

{% block title %}Admin{% endblock title %}

{% block main-content %}






<div class="card mt-lg-5"
 style="margin-left: 25%;
        margin-right: 25%;">
  
  <div class="text-center mt-lg-5" >
    <h1>Assigned  "{{Product.sub_title}}" Product</h1>

   
    
  </div>
  <form  method="POST" >
    {% csrf_token %}
      

        <div class="form-group row" style="margin-top: 20px; margin-bottom: 10%;">
            <div class="col-3"></div>
            <div class="col-4">
                <select class="form-select"  name="Assign" id="Assign"   >
                
                    {% for i in All_user %}
                    <Option value="{{i.id}}" >{{i.username}}</Option>
                    {%endfor%}
                </select>
             
            </div>
            <div class="col-4">
                <button class="btn btn-success" type="submit" >Assign</button>
            </div>
            <div class="col-1">
            </div>
        </div>
        


        <table class="table text-center table-striped">
            <thead >
                <tr>
                    <td class="fw-bold">
                        Users
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for i in Assigned_users %}
                <tr>
                    <td>{{i.username}}</td>
                </tr>
                {%endfor%}
            </tbody>
            
            
        </table>
  
    </form>

</div>








{% endblock main-content %}