<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
      <meta name="description" content="" />


      <title>TrustBanc | {% block title %}{% endblock title %} </title>


    <!-- Favicon Start Here -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'todo/img/my-img/favicon.png' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'devadmin/vendor/fonts/boxicons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'devadmin/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'devadmin/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'devadmin/css/demo.css' %}" />

    <!-- Page CSS -->

      <!-- Helpers -->
      <script src="{% static 'devadmin/vendor/js/helpers.js' %}"></script>

      <script src="{% static 'devadmin/js/config.js' %}"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <!-- Message CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>


        <!--Custom CSS-->
        <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">

        <!--Custom Responsive CSS-->
        <link rel="stylesheet" href="{% static 'accounts/css/responsive.css' %}">

  </head>

  <body>

    {% include 'devadmin/message.html' %}

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{% url 'dashboard' %}" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img class="lgo-img" src="{% static 'todo/img/my-img/trustbank_arthur.png' %}" >
                {% comment %} <div class="lgo-img" style="
                              background-image: url(../static/todo/img/my-img/trustbank_arthur.png);
                            "></div> {% endcomment %}
              </span>
              {% comment %} <span class="app-brand-text demo menu-text fw-bolder ms-2">TrustBanc</span> {% endcomment %}
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="{% url 'dashboard' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Products</span>
              </li>


            <!-- Layouts -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Layouts">Product</div>
              </a>

              <ul class="menu-sub">
                {% if request.user.is_superuser or request.user.is_staff %}
                <li class="menu-item">
                  <a href="{% url 'adminaddproduct' %}" class="menu-link">
                    <div data-i18n="Without menu">Add Product</div>
                  </a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'adminaddsubproduct' %}" class="menu-link">
                      <div data-i18n="Without menu">Add Sub-Product</div>
                    </a>
                </li>
                {% endif %}
                <li class="menu-item">
                  <a href="{% url 'adminproductlist' %}" class="menu-link">
                    <div data-i18n="Without navbar">Product List</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'adminsubproductlist' %}" class="menu-link">
                    <div data-i18n="Without navbar">Sub-Product List</div>
                  </a>
                </li>

              </ul>
            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Customer</span>
            </li>


            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Layouts">Customer Accounts</div>
              </a>

              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'adminabusinessusers' %}" class="menu-link">
                    <div data-i18n="Without menu">Corporate User</div>
                  </a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'adminaindividualusers' %}" class="menu-link">
                      <div data-i18n="Without menu">Individual Users</div>
                    </a>
                  </li>
                <li class="menu-item">
                  <a href="{% url 'adminaindividualjointusers' %}" class="menu-link">
                    <div data-i18n="Without navbar">Individual + Joint Users</div>
                  </a>
                </li>
              </ul>
            </li>


            <!-- Components -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Credentials</span></li>

            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                  <div data-i18n="Authentications">Registered Users</div>
                </a>

                <ul class="menu-sub">

                  {% if request.user.is_superuser %}
                  <li class="menu-item">
                      <a href="{% url 'addadmin' %}" class="menu-link">
                        <div data-i18n="Account">Add Admin</div>
                      </a>
                  </li>
                  {% endif %}
                  <li class="menu-item">
                      <a href="{% url 'adminlist' %}" class="menu-link">
                          <div data-i18n="Notifications">Admin List</div>
                      </a>
                  </li>
                </ul>
              </li>


            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Transaction</span>
              </li>


              <li class="menu-item">
                  <a href="{% url 'transaction' %}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-wallet"></i>
                    <div data-i18n="Analytics">Transactions</div>
                  </a>
              </li>

              {% comment %} <li class="menu-item">
                  <a href="" class="menu-link">
                    <i class="menu-icon tf-icons bx bxl-stripe"></i>
                    <div data-i18n="Analytics">Payment Gateway</div>
                  </a>
              </li> {% endcomment %}

              <li class="menu-item">
                <a href="{% url 'adminquote' %}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-message"></i>
                  <div data-i18n="Analytics">Quotes</div>
                </a>
            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Contact</span>
            </li>


            <li class="menu-item">
                <a href="{% url 'admincontactlist' %}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-user"></i>
                  <div data-i18n="Analytics">Contact</div>
                </a>
            </li>

            <li class="menu-item">
              <a href="{% url 'adminsubscriberlist' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Analytics">Subscriber</div>
              </a>
            -</li>

            <li class="menu-header small text-uppercase"><span class="menu-header-text">Content</span></li>

            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-detail"></i>
                  <div data-i18n="Authentications">Home</div>
                </a>

                <ul class="menu-sub">

                  <li class="menu-item">
                      <a href="{% url 'homebanner' %}" class="menu-link">
                        <div data-i18n="Account">Banner</div>
                      </a>
                  </li>
                  <li class="menu-item">
                      <a href="{% url 'homexploreproducts' %}" class="menu-link">
                          <div data-i18n="Notifications">Explore our product section</div>
                      </a>
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'homeinfosection' %}" class="menu-link">
                        <div data-i18n="Notifications">Home Info section</div>
                    </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'hometestinomials' %}" class="menu-link">
                      <div data-i18n="Notifications">Testimonials</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'homewhatwedo' %}" class="menu-link">
                      <div data-i18n="Notifications">What We Do</div>
                  </a>
                </li>

              </ul>
              </li>


              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-detail"></i>
                  <div data-i18n="Authentications">About</div>
                </a>

                <ul class="menu-sub">

                  <li class="menu-item">
                      <a href="{% url 'aboutinfosection' %}" class="menu-link">
                        <div data-i18n="Account">About Info Section</div>
                      </a>
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'aboutcompanycore' %}" class="menu-link">
                        <div data-i18n="Notifications">Company Core Values</div>
                    </a>
                </li>

                  <li class="menu-item">
                      <a href="{% url 'aboutteammember' %}" class="menu-link">
                          <div data-i18n="Notifications">Team Members</div>
                      </a>
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'aboutboardmembers' %}" class="menu-link">
                        <div data-i18n="Notifications">Board Members</div>
                    </a>
                  </li>



                  <li class="menu-item">
                    <a href="{% url 'abouttestinomials' %}" class="menu-link">
                        <div data-i18n="Notifications">Testimonials</div>
                    </a>
                  </li>

                </ul>
              </li>

              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-detail"></i>
                  <div data-i18n="Authentications">News</div>
                </a>

                <ul class="menu-sub">

                  <li class="menu-item">
                      <a href="{% url 'adminaddnews' %}" class="menu-link">
                        <div data-i18n="Account">Add News</div>
                      </a>
                  </li>

                  <li class="menu-item">
                    <a href="{% url 'adminnewslist' %}" class="menu-link">
                        <div data-i18n="Notifications">News List</div>
                    </a>
                </li>

                </ul>
              </li>


          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <h2 class="mt-3">Dashboard</h2>
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->


                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div style="margin-left: 50%;margin-bottom: 4%;margin-bottom: -58%;" >
                     <img  src="{% static 'todo/img/my-img/icons8.png' %}" class="w-px-40 h-auto rounded-circle">
                    </div>
                      <i class="fas fas-bars"> </i>
                      <i class="avatar avatar-online" style="margin-left: 150%; margin-bottom: 10%;"></i>
                      <!-- <a  class="w-px-40 h-auto rounded-circle fas fa-bars " > -->
                    
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            
                            <div class="avatar avatar-online">
                              <img src="{% static 'todo/img/my-img/favicon.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">{{request.user.username}}</span>
                            {% if request.user.is_superuser %}
                            <small class="text-muted">Super Admin</small>
                            {% else %}
                            <small class="text-muted">Admin</small>
                            {% endif %}
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'adminchangepass' request.user.id %}">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">Change Password</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                        <i class="bx bx-power-off me-2"></i>
                        <span class=" align-middle"  >Log Out</span>
                      </button>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->
          

          {% block main-content %}
          

          {% endblock main-content %}
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="exampleModalLongTitle">permission:</h2>
                </div>
                <div class="modal-body">
                    <P>Are you sure you want to
                      logout?</P>
                </div>
                <div class="modal-footer" style="margin-right: 30%;" >
                  <a href="{% url 'adminlogout' %}"><button class="btn btn-success" >Yes</button></a>
                  <button class="btn btn-success btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
          




    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    {% comment %} <script src="{% static 'devadmin/vendor/libs/jquery/jquery.js' %}"></script> {% endcomment %}
    <script src="{% static 'devadmin/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'devadmin/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'devadmin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'devadmin/vendor/js/menu.js' %}"></script>


    <!-- Main JS -->
    <script src="{% static 'devadmin/js/main.js' %}"></script>

    <!--Custom JS-->
    <script src="{% static 'accounts/js/main.js' %}"></script>


  </body>
</html>
