<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="{% static 'todo/img/my-img/favicon.png' %}" />

	<title>TrustBanc | Admin</title>

	<link rel="stylesheet" href="{% static 'todo/css/bootstrap.min.css' %}" />

 	<link rel="stylesheet" type="text/css" href="{% static 'devadmin/css/login.css' %}">

</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method = "POST">
					{% csrf_token %}
					<span class="login100-form-title pb-2">
						Admin Change Password
					</span>
					<span class="login100-form-title p-b-48">
						<img src="{% static 'todo/img/my-img/favicon.png' %}" height="40" width="35" alt="" srcset="">
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="password" name="passw" required>
						<span class="focus-input100" data-placeholder="Enter Password"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="container-login100-form-btn password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="passw" required>
						<span class="focus-input100" data-placeholder="Confirm Password"></span>
					</div>

					{% if msg %}
						<span class="text-danger">{{msg}}</span>
					{% endif %}
                     
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Submit
							</button>
							
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="{% static 'devadmin/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'devadmin/js/login.js' %}"></script>
    
</body>
</html>