<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="{% static 'todo/img/my-img/favicon.png' %}" />

	<title>TrustBanc | Admin</title>

	<link rel="stylesheet" href="{% static 'todo/css/bootstrap.min.css' %}" />

 	<link rel="stylesheet" type="text/css" href="{% static 'devadmin/css/login.css' %}">


	<!-- Message CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>

</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method = "POST">
					{% csrf_token %}
					<span class="login100-form-title pb-2">
						Send Mail:
					</span>
					<span class="login100-form-title p-b-48">
						<img src="{% static 'todo/img/my-img/favicon.png' %}" height="40" width="35" alt="" srcset="">
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="email" required>
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					
					{% if msg %}
						<span class="text-danger">{{msg}}</span>
					{% endif %}
                     
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Send Mail
							</button>
							
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="{% static 'devadmin/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'devadmin/js/login.js' %}"></script>
	<script>


		$('#dtMaterialDesignExample').DataTable();
	   
	   
		   $('#dtMaterialDesignExample_wrapper, #dt-material-checkbox_wrapper').find('label').each(function () {
			 $(this).parent().append($(this).children());
		   });
		   $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').find(
			 'input').each(function () {
			 $('input').attr("placeholder", "Search");
			 $('input').removeClass('form-control-sm');
		   });
		   $('#dtMaterialDesignExample_wrapper .dataTables_length, #dt-material-checkbox_wrapper .dataTables_length').addClass(
			 'd-flex flex-row');
		   $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').removeClass(
			 'custom-select custom-select-sm form-control form-control-sm');
		   $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').addClass('mdb-select');
		   $('#dtMaterialDesignExample_wrapper .mdb-select, #dt-material-checkbox_wrapper .mdb-select').materialSelect();
		   
	   </script>

</body>
</html>