{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Admin{% endblock title %}

{% block main-content %}

<div >
  <div class="m-4" >
    <style>td{
      padding:20px;
      
    
    }
      
    </style>

    <form method ="post">
      {% csrf_token %}
      <table   style="margin-left: 25%;">
        <h2 > change password</h2>
        
            
              <label>Enter Password</label>
            
            
              
                <div class="form-group row">
                  <div class="col-4"></div>
                  <div class="col-4"><input class="form-control"  type="password" name="password1" placeholder="Enter Password" required></div>
                  <div class="col-4"></div>
                </div>
              
            
        
              <label>Enter Confirm Password</label>
              <div class="form-group row">
                <div class="col-4"></div>
                <div class="col-4"><input class="form-control"  type="password" name="password2" placeholder="Enter Confirm Password" required></div>
                <div class="col-4"></div>
              </div>
        
            
              
            
        
        
        {% if msg %}
        <tr>
            <td>
              <label class="text-danger">{{msg}}</label>
            </td>
        </tr>
        {% endif %}

        <div class="form-group row">
          <div class="col-5"></div>
          <div class="col-2"><input class="form-control btn btn-success" type="submit" value="Submit"></div>
          <div class="col-5"></div>
        </div>

            
          

      </table>
    </form>
  </div>
    

{% endblock main-content %}