.cus-qut:hover{
    border-color: rgb(221, 27, 27);
}
.cus-qut{
    border-radius: 12px;
}

input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
}

input[type="button"]:not(.active) {
    background-color:transparent;
}

.active {
    background-color: #ff4d4d;
    color :#fff;
}

input[type="button"]:hover:not(.active) {
    background-color: #ddd;
}