.container_product{
    margin: 50px 0px;
    display: flex !important;
}

section .left-box{
    width: 2000px;
    margin-right: 85px;
}

section .info-text{
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    text-align: left;
}

section .left-box p span{
    color: #EF0502;
}

section .info-text{
    margin-bottom: 30px;
}

section .left-box img{
    max-width: 600px;
    min-width: 600px;
    padding-bottom: 35px;
}

section h3{
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: left;
}

section .left-box h3{
    color: #EF0502;
}

section .first-latter-color{
    color: #EF0502 !important;
}

section p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
}

section .btn{
    display: flex !important;
    margin-top: -45px;
    margin-left: -15px;
}

section .next-btn{
    font-weight: 700;
    font-size: 20px;
    padding: 5px 31px;
    margin-right: 15px;
    background-color: #EF0502;
    border-radius: 20px;
    border: none;
    color: #fff;
}

section .right-box h3{
    text-align: center;
}

section .right-box button{
    cursor: pointer;
    width: 303px;
    padding: 21px 0;
    color: #292929;
    background-color: #f9f9f9;
    border: none;
    font-weight: 700;
    font-size: 17px;
    /* line-height: 20px; */
}

section .right-box button a{ 
    color: #000;
}

section .contact-us{
    background-color: #f9f9f9;
}

section .contact-us p{
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    text-transform: uppercase;
    color: #EF0502;
    padding-top: 60px;
    text-align: center;
}

section .contact-us h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    padding-bottom: 30px;
}

section .contact-btn{
    padding: 16px !important;
    width: 160px!important;
    background-color: #EF0502 !important;
    color: white !important;
    border-radius: 12px !important;
    margin: auto !important;
    margin-bottom: 1rem!important;
}



@media only screen and (max-width: 767px) {

    .container_product{
        margin: 10px 0px;
    }

    section .left-box img{
        max-width: 300px;
        min-width: 300px;
    }
    
    .right-box{
        display: none;
    }
    
}


@media (min-width: 768px) and (max-width: 1024px)  {

    .container_product{
        margin: 10px 0px;
    }


    .right-box{
        display: none;
    }
}


@media (min-width: 1024px) and (max-width: 1366px)  {

    .container_product{
        margin: 40px 0px;
    }

    section .left-box img{
        max-width: 570px;
        min-width: 570px;
    }

    .right-box{
        display: block;
    }
    
}


.modal-body{
    margin-top: -50px;
}

.modal-content{
    border: 7px solid #EF0502;
}